<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Email"
        ngModel
        email
        required
        name="email"
        #emailInput = "ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')">Fild most not be empty</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="password"
        ngModel
        required
        minlength="8"
        name="password"
      />
      <mat-hint>should be at 8 character long</mat-hint>
      <mat-error>Has to be as least 6 characters long.</mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>
