/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap");

* {
  font-family: "Amiri", serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
